body {
  font-family: "IBM Plex Sans", sans-serif;
  background: url(./image/background.png) no-repeat;
  margin: 0;
  padding: 0;
}

.tarefas {
  max-width: 500px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.app {
  background: #3b3b3b;
  padding: 30px 50px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #dbb5b5;
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #3b3b3b;
}

::placeholder {
  text-transform: uppercase;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  color: #3b3b3b;
  background: #dbb5b5;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button:hover {
  background: #c79f9f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #dbb5b5;
  margin: 10px 0;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
}
